/*
Throttle PCB

For GPIO pin assignments, see the schematic for "official number" to MCU number: https://www.pjrc.com/teensy/schematic.html
And to translate MCU pin number to gpio bank + index, see: https://sourcegraph.com/github.com/zephyrproject-rtos/zephyr/-/blob/dts/arm/nxp/nxp_rt1060.dtsi
*/

/ {
	example_sensor: example-sensor {
		compatible = "zephyr,example-sensor";
		input-gpios = <&gpio6 18 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};

	blink_led: blink-led {
		compatible = "blink-gpio-led";
		led-gpios = <&gpio2 3 GPIO_ACTIVE_HIGH>;
		blink-period-ms = <1000>;
	};
};
